.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/dist/
/certs/
*.pfx
*.cer
*.p12
*.key
*.mobileprovision
.swiftpm/xcode/
.swiftpm/package.xcworkspace/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/xcode/package.xcworkspace/xcshareddata/
.swiftpm/configuration/
.swiftpm/workspace-state.json
.swiftpm/swiftpm.sqlite
.swiftpm/
*.xcuserstate
*.xcscmblueprint
.idea/
.vscode/
.vs/
**/bin/
**/obj/
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs
**/*.rsuser
**/*.pdb
**/*.ilk
**/*.log
**/*.tlog
**/*.cache
**/.DS_Store
Thumbs.db
Desktop.ini
